<div class="container text-center mt-3 card" style="width: 18rem">
  <img
    src="https://static.vecteezy.com/ti/vetor-gratis/p3/19526421-gato-laranja-em-desenhos-animados-de-patas-acenando-de-xicara-de-oculos-de-sol-legais-de-gatinho-laranja-vetor.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Second Page</h5>
    <p class="card-text">
      Welcome to the <b>second</b> page, if you want to see the firt page click
      on the button below
    </p>
    <a href="#" class="btn btn-primary" [routerLink]="'/firt'">Go FirtPage</a>
  </div>
</div>
